extends _layout-index.pug

block front
    .logo
        a.logo__link(href="/") Складская
            span.logo__color_yellow Техника
    .auth-container
        h3.h3 Registration:
        form.form-request(action='/auth/registration' method="POST" name='registration' id='registration')
            span.form-request__input.form-request__input_effect 
                input.input__field.input__field_effect(type="email" id="email" name='email')
                label.input__label.input__label_effect(for="email")
                    span.input__label-content.input__label-content_effect Email
            span.form-request__input 
                input.input__field.input__field_effect(type="password" id="password" name='password')
                label.input__label.input__label_effect(for="password")
                    span.input__label-content.input__label-content_effect Password
            span.form-request__input 
                input.input__field.input__field_effect(type="password" id="confirmPassword" name='confirmPassword')
                label.input__label.input__label_effect(for="confirmPassword")
                    span.input__label-content.input__label-content_effect Password
            span.form-request__input 
                input.input__field.input__field_effect(type="text" id="username" name='username')
                label.input__label.input__label_effect(for="username")
                    span.input__label-content.input__label-content_effect Name
            span.form-request__input 
                input.input__field.input__field_effect(type="text" id="organization" name='organization')
                label.input__label.input__label_effect(for="organization")
                    span.input__label-content.input__label-content_effect Organization
            span.form-request__input 
                input.input__field.input__field_effect(type="text" id="phoneNumber" name='phoneNumber')
                label.input__label.input__label_effect(for="phoneNumber")
                    span.input__label-content.input__label-content_effect Phone number

            button#customerContacts(type='submit').form-request__button Registration
                span.line1.btn-border-line
                span.line2.btn-border-line
                span.line3.btn-border-line
                span.line4.btn-border-line
        .another-login
            a.auth-link(href='/auth/login') Login