extends ../_layout

include ../_mixins/_mixin

block main
    section.section__product-info
            .bg-fixed
            .container
                include ../_include/_header
                .main-container
                    block leftside

                    block content