extends ../_layout

include ../_mixins/forms/index
include ../_mixins/subMenu
include ../_mixins/showItems
include ./_mixins/tr

block main
    +subMenu({
            'Создать товар': '/admin/products/create',
            'Создать категорию': '/admin/products/create-category',
            'Сбросить': '/admin/products'
        },[
            {
                title: 'Фильтры',
                href: `/admin/products?published=true`,
                drop: [{
                    title: 'Date >',
                    href: '/admin/products?dateUp=true'
                },{
                    title: 'Date <',
                    href: '/admin/products?dateUp=false'
                }],
            },
            {
                title: 'Опубликованые',
                href: `?published=true`
            },
            {
                title: 'Неопубликованые',
                href: `?published=false`
            }
        ])
    .container.py-4
        block content