footer.footer
    p.footer__p Складская Техника
    p.footer__p 2017 Все права защищены
    .authorization
        -console.log(user)
        if user
            a.auth__link(href="/auth/logout") Выход
        else
            a.auth__link(href="/auth/login") Вход
