extends _layout

block content
    h4 Создание новости
    form(method="post" enctype='multipart/form-data').form-create-news#form-create-news
        +input('title', oneNews.title)(type='text' placeholder='Заголовок новости' class='form-control')
        if oneNews.title
            img(src=`${oneNews.upload}`, alt="" class='img-thumbnail w-25')
        +input('upload', null)(type='file' class='form-control-file')
        +textarea('description', oneNews.description)(placeholder='Короткое описание' rows='2' maxlength='255')
        +textarea('content', oneNews.content)(placeholder='Полное описание' rows='7')
        .row.btn-row
            .col-3
                +input('publishDate', (!oneNews.publishDate) ? oneNews.publishDate : moment(oneNews.publishDate).format('YYYY-MM-DD'))(type='date' class='form-control')
                .form-check.news-publish-checkbox
                    label.form-check-label
                        input.form-check-input(type='checkbox', name='published', id='publish', checked=oneNews.published )
                        | Опубликовать
        .row.btn-row
            .col-1
                +button(!oneNews.title ? 'Создать' : 'Сохранить')(type='submimt' class='btn-success')
            .col-1.offset-md-1
                if !oneNews.title
                    +button('Отменить')(type='reset' class='btn-danger' )
                else 
                    +button('Удалить')(href=`/admin/news/${oneNews.id}/delete` class='btn-danger')