extends _layout

//- block main
    .button-controls
        .row
            .col-md-4
                a.btn(name='', id='', class='btn-outline-primary', href='/admin/news/create', role='button') Создать новость
            .col-md-4
                a.btn(name='', id='', class='btn-outline-primary', href='/admin/news', role='button') Показать новости
            .col-md-4
                a.btn(name='', id='', class='btn-outline-primary', href='/admin/news', role='button') Обновить
    .content
