mixin editorQuilljs()
    #toolbar-container.filter-wrapper.f-header
        .nav-bar-filter.left
            span.ql-formats(group='1')
                select.ql-header
                select.ql-font
                   option(value='robotoregular') Roboto 
                select.ql-size
            span.ql-formats(group='2')
                button.ql-bold
                button.ql-italic
                button.ql-underline
                button.ql-strike
            span.ql-formats(group='3')
                select.ql-color
                select.ql-background
            span.ql-formats(group='4')
                button.ql-script(value='sub')
                button.ql-script(value='super')
            span.ql-formats(group='5')
                button.ql-blockquote
                button.ql-code-block
            span.ql-formats(group='6')
                button.ql-list(value='ordered')
                button.ql-list(value='bullet')
                select.ql-align
            span.ql-formats(group='7')
                button.ql-link
                button.ql-image
                button.ql-formula
            span.ql-formats(group='8')
                button.ql-indent(value='-1')
                button.ql-indent(value='+1')
                button.ql-direction(value='rtl')
                button.ql-clean
    #editor-container.f-content(name='description')
