extends ../_layout

include ./mixins/_mixin

block main
    section.section__product-catalog
        .bg-fixed
        .container
            include ../_include/_header
            +productCatalog( products )