extends ../_layout

include ./mixins/_mixin

block main-content
    section.section__news-catalog
        .bg-fixed
        .container
            include ../_include/_header
            div(class=`news-catalog`)
                ul(class=`news-catalog__list`)
                    each item in news
                        +newsCatalog(item)

            +pagination(totalNewsCount, limit, page)