include /_mixins/_mixin.pug

// modal
.modal-overlay
  .modal
    a.close-modal
        i.fa.fa-times.close-icon
    // close modal
    .modal-content
        h2.h2_cart Корзина
        .cart
            ul#cart-modal(class=`cart__list`)

        button.btn.btn-submit(type="submit" ) Оформить заказ
    // content
  // modal
// overlay