header.header
    .logo
        a.logo__link(href="/") Складская
            span.logo__color_yellow Техника
    nav.nav
        a#menu-link.burger__link(href="#")
            span.burger.burger1
            span.burger.burger2
            span.burger.burger3
        ul.nav__list
            li.nav__item
                a#headerCart.nav__link.cart__link(href="#")
                    +cartbtn('shopping-cart')
            li.nav__item
                a.nav__link(href="/news-catalog/") Новости
            li.nav__item
                a.nav__link(href="/product-catalog/") Каталог
            li.nav__item
                a.nav__link(href="/#delivery") Доставка
            li.nav__item
                a.nav__link(href="/#contacts") Контакты